<div class="grid grid-cols-1 md:grid-cols-2 gap-6">

  @if (isLoadingInitial) {
    @for (_ of skeletonArray; track $index) {
      <ui-card-skeleton />
    }
  }

  @if (!isLoadingInitial && personajes.length === 0) {
    <ui-empty-state
      message="No se encontraron personajes"
      (reiniciar)="reiniciarFiltros.emit()"
    />
  }

  @if (!isLoadingInitial) {
    @for (personaje of personajes; track personaje.id; let i = $index) {
      <app-character-card
        [personaje]="personaje"
        [index]="i"
        [imageLoaded]="imageLoaded[i]"
        (clicked)="cardClicked.emit($event)"
        (imageLoadedChange)="imageLoadedChange.emit($event)"
      />
    }
  }

</div>

<div class="flex justify-center mt-6">
  @if (currentPage < totalPages && !isLoadingMore) {
    <ui-button (click)="verMas.emit()">Ver más</ui-button>
  }
</div>