<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 max-w-7xl mx-auto" data-aos="fade-down">
  @if (isLoading) {
  @for (sk of [1, 2, 3, 4, 5]; track sk) {
  <div class="w-full h-[300px] bg-gray-200 animate-pulse"></div>
  }
  }

  @if (!isLoading) {
  @for (personaje of personajes; track personaje) {
  <div class="w-full relative mx-auto h-[300px] overflow-hidden group">
    <img [src]="personaje.imagen" [alt]="personaje.nombre"
      class="w-full h-full object-cover transition-all duration-300 group-hover:scale-110" />
    <div class="absolute inset-0 bg-black/40 p-4 flex flex-col justify-end ">
      <div class="flex items-center gap-2 mb-2">
        <span class="relative flex size-3">
          @if (personaje.estado === 'Alive') {
          <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
          }
          <span class="relative inline-flex size-3 rounded-full" [ngClass]="{
      'bg-green-400': personaje.estado === 'Alive',
      'bg-red-500':   personaje.estado === 'Dead',
      'bg-gray-400':  personaje.estado === 'unknown'
    }"></span>
        </span>

        <h3 class="text-white text-xl font-semibold">{{ personaje.nombre }}</h3>
      </div>
    </div>
  </div>
  }
  }
</div>

<div class="text-center mt-10">
  <p class="text-gray-600" data-aos="fade-down">
    Y muchos más personajes en el multiverso.
    <a routerLink="/personajes" class="text-violet-600 font-semibold hover:underline cursor-pointer">
      Ver más personajes <i class="fa-solid fa-angle-right"></i>
    </a>
  </p>
</div>